version: '2'
services:
  jenkins:
    image: jenkins/jenkins:lts
    ports:
      - 49001:8080
      - 50000:50000
    privileged: true
    user: root
    volumes:
      - /var/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
